extends layout

block layout-content
  div(class='left column')
  div(class='View column')
    h1.Banner | RadRealm |
    div.Message
      div.Intro
        p.Middle 
        | A list of useful local 
        | websites.
    div.NavButtons
      ol.Sites
        li
          a(href="http://rr-hass.lan:8123")
            div.NavButton Home Assistant (rr-hass)
        li
          a(href="http://rr-hass.lan")
            div.NavButton Phoscon-GW 
        li
          a(href="http://rr-synol1.lan:5000")
            div.NavButton Synology
        li
          a(href="http://rr-hass.lan:8091")
            div.NavButton ZWaveJS2MQTT
        li 
          a(href="http://rr-hass.lan:8080")
            div.NavButton Zigbee2MQTT
        li 
          a(href="http://rr-frigate.lan:2400")
            div.NavButton Plex
        li 
          a(href="http://rr-hyperion1.lan:8090")
            div.NavButton Living Room Ambient TV
        li 
          a(href="http://rr-frigate.lan:8086")
            div.NavButton Influxdb Main 
        li 
          a(href="http://rr-frigate.lan:3000")
            div.NavButton Grafana
        li 
          a(href="/files/radrealm.pem")
            div.NavButton Get Local CA
        //- li
        //-   a(href="zwavemap")
        //-     div.NavButton ZWave Map
        li
          a(href="routerredir")
            div.NavButton WiFi Router
